<div data-refresh-list-target="list">
  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize films.count, 'film' %> available</h1>
  <% else %>
    <h1 class="h3"><%= pluralize films.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>
  <div class="films">
    <% films.each do |film| %>
      <div class="film-card">
        <%= image_tag film.image_url %>
        <h2><%= film.title %> <small>(<%= film.year %>)</small></h2>
      </div>
    <% end %>
  </div>
</div>
